fastapi
uvicorn
pandas
openpyxl
jinja2
python-multipart
spacy
whoosh
python-Levenshtein
pyspellchecker
numpy==1.24.4
scipy==1.10.1
gensim==4.3.1
flair[word-embeddings]
ipywidgets
rank-bm25
notebook
ipykernel
nltk
PyMuPDF
jupyter-ai[all]
python-dotenv